.classpath
.project
.springBeans
.settings/
target/
build/
workspaces/
bin/
lib/
*.jar

##### Angular ignore START
# See http://help.github.com/ignore-files/ for more about ignoring files.
# compiled output
dist/
dist-server/
tmp/
out-tsc/

# dependencies
node_modules/

# IDEs and editors
.idea/
.c9/
*.launch

# misc
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db
##### Angular ignore END