<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jadecross.perflab.mybatis.mapper.TownerMapper">

	<select id="findAll" parameterType="string" resultType="Towner">
		select towner_name, email, password from towner;
	</select>
</mapper>